.ion {
  background-color: $primary;
  color: $light;
  padding: 2rem 0 26rem;
  position: relative;
  @include media-query($mobile) {
    padding: 2rem 0 10rem;
  }
  .wave {
    position: absolute;
    left: 0;
    width: 100%;
    &__top {
      bottom: 100%;
    }

    &__bottom {
      bottom: 0%;
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include media-query($mobile) {
      grid-template-columns: 1fr;
    }
    grid-gap: 5rem;
  }

  .title__block {
    min-height: 30rem;
    display: flex;
    align-items: flex-end;
    @include media-query($mobile) {
      align-items: flex-start;
      min-height: 10rem;
    }
    img {
      width: 100%;
    }
  }
}
