* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 138rem;
  margin: 0 auto;
  padding: 0 1rem;
}
