.footer {
  background-color: $primary;
  position: relative;
  margin-top: 10rem;
  .wave__top {
    position: absolute;
    bottom: 100%;
    width: 100%;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4rem;
    &__item {
      align-self: center;
      ul {
        display: flex;
        list-style: none;
        li {
          margin: 1rem;
          a {
            text-decoration: none;
            color: $light;
          }
        }
      }
    }

    .social__media {
      font-size: 3rem;
    }
    &__item:last-child {
      justify-self: flex-end;
    }
  }
}
