.page__products {
  &__block {
    margin-bottom: 3rem;
    :is(small, .note, sup) {
      font-size: 1.2rem;
    }
  }
}

.product__actions {
  margin-bottom: 20rem;
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include media-query($mobile) {
      grid-template-columns: 1fr;
    }
    &__items {
      align-self: center;
    }
    &__items:last-child {
      justify-self: flex-end;
    }
  }

  h2 {
    color: $primary;
    font-size: clamp(6rem, 10vw, 8.5rem)
  }

  h3 {
    font-size: clamp(3.5rem, 10vw, 6.5rem);
    color: $primary-dark;
    transform: translateY(-7rem);
    margin-bottom: -5rem;
    @include media-query($mobile) {
      transform: translateY(-4.5rem);
    }
  }

  a {
    margin-right: 3rem;
  }
}
