.stories {

  h2 {
    font-size: 4rem;
  color: $primary-dark;
  }
  .top__stories {
    &__grid {
      display: grid;
      grid-template-columns: 45rem 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      @include media-query($mobile) {
        grid-template-columns:  1fr;
        grid-template-rows:unset;
      }
     
      grid-gap: 2rem;
    }
  }
}

.top__stories {
  img {
    width: 100%;
    height: 100%;
    display: block;
  }
}

.story__big {
  grid-column: 1/3;
  grid-row: 1 / 3;
  @include media-query($mobile) {
    grid-column: unset;
    grid-row: unset;
  }
}

.story__big,
.story__sm {
  position: relative;
  color: $light;
  .story__details {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2rem;
    width: 100%;
    background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.4)
    );
    ul {
      display: flex;
      list-style: none;
      li {
        margin-right: 2rem;
        font-size: 1.2rem;
      }
    }

    a {
      color: $light;
      text-decoration: none;
      font-size: 1.4rem;
      text-align: right;
      display: block;
      @include media-query($mobile) {
        font-size: 1.2rem;
      }
    }
  }
}

.story__sm {
  h3 {
    font-size: 1.6rem;
   
  }
}

.storylist {
  margin-top: 4rem;
  margin-bottom: 25rem;
  &__grid {
    display: grid;
    grid-template-columns: 1fr 43.5rem;
    grid-gap: 2rem;
    @include media-query($mobile) {
      grid-template-columns: 1fr;
    }
    &__sidebar {
      h2 {
        text-align: center;
        font-size: 3rem;
        text-transform: uppercase;
      }
    }
  }
  &__grid__main {
    .inner__grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 2rem;
      @include media-query($mobile) {
        grid-template-columns: 1fr;
      }
    }
  }
  .storybox {
    img {
      width: 100%;
    }

    .details {
      padding: 1rem;
      small {
        font-size: 1rem;
        padding: .2rem 1rem;
        background-color: $primary;
        color: $light;
        display: inline-block;
        margin-bottom: .6rem;
        border-radius: 1rem;
      }
      h4 {
        margin-bottom: 1.5rem;
      }

      p {
        font-size: 1.4rem;
      }
    }
  }
}


.other__stories {
  &__item {
    margin-bottom: 2rem;
    display: flex;
    align-items: flex-start;
    img {
      width: 8rem;
      height: 8rem;
      object-fit: cover;
    }
    a {
      text-decoration: none;
      color: $dark;
    }

    .content {
      padding-left:  1.5rem;
      h4 {
        font-size: 1.2rem;
      }
    }
  }
}